@import 'variables';

.galeria {
    position: relative;
}

.galeria {
    img {
        border-radius: 15px;
    }
}

.overlay {
    position: absolute;
    border-radius: 0 0 15px 15px;
    bottom: 0;
    background: $color-rosa;
    color: $color-crema;
    width: calc(100% - 1.5rem);
    transition: .5s ease;
    opacity: 0;
    color: $color-cafe;
    font-size: 1.1em;
    padding: 20px;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

.galeria {
    &:hover {
        .overlay {
            opacity: 0.8;
        }
    }
}